@{
    ViewBag.Title = "Browse";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<link href="~/Content/style.css" rel="stylesheet" />

<div class="ctnr">




</div>

<div id="aright">


</div>




<div id="progress">
    <div id="bar">
     
    </div>
</div>
<button id="toTop"> ^ back to top ^ </button>


<script type="text/javascript">
    var currentpage = 1;
    loadData(1);

    $(window).scroll(function () {

        var progress = $(window).scrollTop();
        if (progress < 50)
        {
            console.log(progress);
            $("#progress").css("top", 50 - progress);
        }
        else
        {
            $("#progress").css("top", 0);
        }

        
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {


           

            console.log("click");
            currentpage++;
            loadData(currentpage);

        }
    });

    function Details(index) {

        window.location.href = '@Url.Action("Person","Home")' + '/' + index;

    };

    function loadData(pstPage) {
        $.ajax({
            url: '@Url.Action("Update","Home")',
            method: 'post',
            data: { page: pstPage },
            dataType: 'json',
            success: function (data) {
                var ctn = $(".ctnr")

                $(data).each(function (index, emp) {

                    var progres = currentpage / Math.ceil(emp.progress / 9) * 100

                    $("#bar").css("width", progres+"%");

                    ctn.append('<div class="col-md-3 obj"><img class="photo" src="'+emp.Name+'" alt="test">' +
                                ' <h3>' +
                                  emp.Grade + ' $ </h3>  <button class="btn-item-detail" onclick="Details(' + emp.UserId + ')"> Details </button> </div>');

                });


            }
        });
    }



    var body = $('html, body');
    $('#toTop').click(function (e) {
        e.preventDefault();
        body.animate({ scrollTop: 0 }, '1500', 'swing');

    });





    var right = document.getElementById('aright');
    setTimeout(function () {

        setInterval(function () {

            var num = Math.round(Math.random() * 100);

            var newfulg = document.createElement('i');


            newfulg.setAttribute('class', 'fa fa-snowflake-o fulg');


            newfulg.style.left = num + '%';

            right.appendChild(newfulg);



            var fulgs = document.getElementsByClassName('fulg');

            $(fulgs).each(function (index, flgg) {

                if (flgg.offsetTop > $(window).height() - 10) {
                    right.removeChild(flgg);
                }

                console.log($(window).height());
            });

        }, 300);  

    }, 5000);
   



</script>